

<button class="btn btn-danger m-2"  routerLink="ang-form">ang-form</button>
<button class="btn btn-danger m-2"  routerLink="directives">directives</button>
<button class="btn btn-success m-2" routerLink="task">task</button>
<button class="btn btn-warning m-2" routerLink="task2">task2</button>
<button class="btn btn-secondary m-2" routerLink="data-binding">data-bindig</button>
<button class="btn btn-primary m-2" routerLink="pipes">pipes</button>
<button class="btn btn-primary m-2" routerLink="comp2">comp2</button>
<button class="btn btn-primary m-2" routerLink="my-color">My color</button>
<button class="btn btn-warning m-2" routerLink="crud">CRUD</button>
<button class="btn btn-sm btn-outline-danger m-2" style="float: right;" (click)="signout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
